/*

# git stuff
!.github
!.gitignore
!version
!README.md

# client stuff
!config/
!mods/
!shaderpacks/
!bin/minecraft.jar
!bin/version.json
!bin/1.16.5.json

# server stuff
!server/config
!server/mods
!server/eula.txt
!server/server-icon.png
!server/server.properties
!server/fabric-1.16.5-server.jar
!server/run.dev.ps1